# Server Configuration
SERVER_PORT=3000

# Database Configuration
DB_HOST=localhost
DB_USER=goapi
DB_PASSWORD=password
DB_NAME=goapi
DB_PORT=5432
DB_SSLMODE=disable

# Typesense Configuration
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=xyz
